---
layout: base.njk
title: Operating systems
permalink: /tags/OS/index.html
---
<section class="listing-page"><p class="eyebrow">Topic / OS</p><h1>Operating systems</h1><p class="intro">Notes on uCore and the machinery underneath.</p>{% set writing = collections.writing | selectattr("data.tags", "defined") %}{% for post in writing %}{% if 'OS' in post.data.tags %}<div class="tag-entry"><a href="{{ post.url }}">{{ post.data.title }}</a><time datetime="{{ post.date | dateISO }}">{{ post.date | dateLabel }}</time></div>{% endif %}{% endfor %}</section>
